<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th colspan="3" class="text-center"> Name </th>
                <th rowspan="2" class="text-center"> Email </th>
            </tr>
            <tr>
                <th class="text-center">First Name</th>
                <th class="text-center">Middle Name</th>
                <th class="text-center">Last Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let person of persons" class="text-center">
                <td>{{person.FirstName}}</td>
                <td>{{person.MiddleName}}</td>
                <td>{{person.LastName}}</td>
                <td>{{person.Email}}</td>
            </tr>
        </tbody>
    </table>
</div>
