<div *ngIf="!securityService.IsAuthorized()">
    This content is protected. Please 
    <a (click)="Login()">login</a>
     to view this content.
</div>

<div class="table-responsive" *ngIf="securityService.IsAuthorized()">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th colspan="3" class="text-center"> Name </th>
                <th rowspan="2" class="text-center"> Email </th>
                <th rowspan="2" class="text-center">Date of Birth</th>
            </tr>
            <tr>
                <th class="text-center">First Name</th>
                <th class="text-center">Middle Name</th>
                <th class="text-center">Last Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let person of persons; let i = index"
                (click)="editPerson(i)"
                 class="text-center">
                <td>{{person.FirstName}}</td>
                <td>{{person.MiddleName}}</td>
                <td>{{person.LastName}}</td>
                <td>{{person.Email}}</td>
                <td>{{person.Dob | date}}</td>
            </tr>
        </tbody>
    </table>
</div>
